.pagination-control li {
    display: inline-block;
}

.pagination-control button {
    font-size: 12px;
    margin-top: -26px;
    cursor: pointer;
}

.pagination {
    margin: 5px 12px !important;
}
